# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [1]:

# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [3]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angel', 'Precious', 'Kishi', 'Love'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0     Angel   20
1  Precious   21
2     Kishi   19
3      Love   18

### Column Selection:

In [5]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clement', 'Prince', 'Karol', 'Adaobi'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

      Name Qualification
0  Clement           Msc
1   Prince            MA
2    Karol           MCA
3   Adaobi           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [3]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Oyinda', 'Maryam', 'Dumebi', 'Bisola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name             Oyinda
Age                  27
Address           Asaba
Qualification       Msc
Name: 0, dtype: object

### Read from a file:

In [4]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("bsg.csv")

df = pd.DataFrame(data)

# print excel
df

   Unnamed: 0     name  degree  score
0           0    Ebube     MBA     90
1           1    Kamsi     BCA     40
2           2  Oyinkan  M.Tech     80
3           3    Chima     MBA     98

### Select first row from file

In [5]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("bsg.csv")

df=data.iloc[0]

# print excel
df

Unnamed: 0        0
name          Ebube
degree          MBA
score            90
Name: 0, dtype: object

### Selecting Row with Title Header

In [8]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("bsg.csv")

df=data.head(1)

# print excel
df

   Unnamed: 0   name degree  score
0           0  Ebube    MBA     90

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [19]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdurrahman", "Chukwuemeka", "Somebi", "Michael, Dejo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdurrahman
degree            MBA
score              90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name      Somebi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Michael, Dejo
degree              MBA
score                98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [20]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bimpe", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [23]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
blades = {'name':["Ebube", "Kamsi", "Oyinkan", "Chima"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(blades)

# saving the dataframe
df.to_csv('blade1.csv')

## Solution to Question II

In [24]:
# importing pandas as pd
import pandas as pd

data = pd.DataFrame({'Employee Names':['Alegbe Luis', 'Anna Mabuta', 'Karim Kafi', 'Esther Moses', 'Jonah Longe', 'Coins Fagbemi'],
                     "Years":[5,10,15,8,4,20], 
                     "Assesment Records": [44.5,67.4,23.8,71.1,50.3,63.3],
                    })
data

  Employee Names  Years  Assesment Records
0    Alegbe Luis      5               44.5
1    Anna Mabuta     10               67.4
2     Karim Kafi     15               23.8
3   Esther Moses      8               71.1
4    Jonah Longe      4               50.3
5  Coins Fagbemi     20               63.3

In [1]:
import pandas as pd

data = pd.DataFrame({'Employee Names':['Alegbe Luis', 'Anna Mabuta', 'Karim Kafi', 'Esther Moses', 'Jonah Longe', 'Coins Fagbemi'],
                     "Years":[5,10,15,8,4,20], 
                     "Assesment Records": [44.5,67.4,23.8,71.1,50.3,63.3],
                    })
data
points=[]
rewards=[]
len = 6

access_rec = data['Assesment Records']
for i in range(len):
    if (access_rec[i] < 40.0 ):
        point = 1
    elif (access_rec[i] > 39.0 and access_rec[i] < 50.0 ):
        point = 2
    elif (access_rec[i] > 49.0 and access_rec[i] < 60.0):
        point = 3
    elif (access_rec[i] > 59.0 and access_rec[i] < 70.0):
        point = 4
    else:
        point = 5
    
    reward = (access_rec[i]*point/6)
    points.append(point)
    rewards.append("%.2f" % reward)    
    
data['Points']=(points)
data['Rewards']=(rewards)

In [25]:
# Save to excel(csv)
data.to_csv('bcg_records.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Laungages and File Format Detection

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

KeyboardInterrupt:

ImportError: cannot import name hashtable

^C
Note: you may need to restart the kernel to use updated packages.